<nav class="navbar navbar-default sub-navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li> <a routerLink="#"> Tech </a> </li>
      <li> <a routerLink="#"> Aww </a> </li>
      <li> <a routerLink="#"> Podcasts </a> </li>
      <li> <a routerLink="#"> History </a> </li>
      <li> <a routerLink="#"> Science </a> </li>
    </ul>
  </div>
</nav>


<nav class="navbar navbar-default main-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">  <img src="assets/img/reddit8bit.png" alt="Brand"> {{ title }}</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
